* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box;
}

header {
	padding: 1%;
	background-color: #94BFBF;
	width: 100%;
	margin: 0 auto;
}

nav {
	/*background-color: #94BFBF;*/
	color: #354235;
/*	text-align: center;*/
	padding: 0 1em 0 1em;
	text-decoration: none;
	font-size: 1.5em;
	text-transform: uppercase;
}

nav a {
	margin-left: 0.5em;
	padding: .5em;
	text-decoration: none;
	border:none;
}

nav a:hover {
	background-color:#69A2A2;
	color: #94BFBF;
}

h1,h2,h3,h4,h5 {
	font-family: Cabin, "sans serif";
	color: #354235;
	font-weight: bolder;
}

h2, h3, h4, h5 {
	letter-spacing: 0.1em;
}

h1 {
	font-family: Cabin, "sans serif";
	font-weight: normal;
	font-size: 3em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 1px;
	padding-bottom: 2em;
}

h3 {
	font-size: 2.5em;
	margin-bottom: 1px;
	padding-bottom: .5em;
}

h4 {
	font-size: 1.8em;
	line-height: 2em;
	margin-bottom: 1px;
}

h5 {
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0.2em;
}

p {
	line-height: 1.5em;
	margin-bottom: 2px;
	font-weight: normal;
	font-size: 1em;
	color: #555354;
	padding-bottom: 1.5em;
}

li {
	list-style: none;
	font-weight: normal;
	line-height: 1.5em;
	color: #555354;
	width: 30em;
	padding-bottom: 1.5em;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #354235;
	color: #354235;
	padding: 1px;
}

a:hover {
	background-color: #94BFBF;
}

img {
	padding: 20px;
}

main {
	width: 50%;
	padding: 20px 0 0 20px;
	float: left;
	margin:0 auto;

}

#wrapper {
	padding-left: 20px;
	width: 100%;
	font-family: "Source Code Pro", "sans serif";
	font-weight: normal;
	font-size: 18px;
	background-color: 69A2A2;
	margin: 0 auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#header1 {
	/*background-color: violet;*/
/*	border: 1px black solid;*/
	float: left;
	padding: 1%;
	width: 48%;
}

#header2 {
	/*background-color: pink;*/
	/*border: 1px black solid;*/
	padding: 1%;
	float: right;
	width: 48%;
	text-align: right;
}

#contact {
	float: right;
	width: 30%;
}


