* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box;
}

#wrapper {
	padding-left: 20px;
	font-family: "Source Code Pro", "sans serif";
	font-weight: normal;
	font-size: 18px;
	background-color: 69A2A2;
	margin: 0 auto;
}

nav {
	background-color: #94BFBF;
/*	float:left;
	display:block;*/
	color: #354235;
	text-align: center;
	padding: .5em;
	text-decoration: none;
	font-size: 1.5em;
	text-transform: uppercase;
}

nav a {
	margin-left: 1em;
	padding: .5em;
	text-decoration: none;
	border:none;
}

nav a:hover {
	background-color:#69A2A2;
	color: #94BFBF;
}

h1,h2,h3,h4,h5 {
	font-family: Cabin, "sans serif";
	color: #354235;
	width: 30em;
	font-weight: bolder;
}

h2, h3, h4, h5 {
	letter-spacing: 0.1em;
}

h1 {
	font-family: Cabin, "sans serif";
	font-weight: normal;
	font-size: 3em;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 1em 0 0 0;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 1px;
	width: 30em;
	padding-bottom: 2em;
}

h3 {
	font-size: 2.5em;
	margin-bottom: 1px;
	padding-bottom: .5em;
}

h4 {
	font-size: 1.8em;
	line-height: 2em;
	margin-bottom: 1px;
}

h5 {
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0.2em;
}

p {
	width: 30em;
	line-height: 1.5em;
	margin-bottom: 2px;
	font-family: "Source Code Pro", sans serif;
	font-weight: normal;
	font-size: 1em;
	color: #555354;
	padding-bottom: 1.5em;
}

li {
	list-style: none;
	font-family: "Source Code Pro", sans serif;
	font-weight: normal;
	line-height: 1.5em;
	color: #555354;
	width: 30em;
	padding-bottom: 1.5em;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #354235;
	color: #354235;
	padding: 1px;
}

a:hover {
	background-color: #94BFBF;
}

img {
	/*display: inline-block;*/
	padding: 20px;
	/*float: right;*/
}

/*#me {
	display: inline-block;
	float: left;
}

#Writing {
	display: inline-block;
	float: left;
}

#aside {
	display: inline-block;
	float: right;
}
/*
footer {
	clear:both;*/

