* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box;
}

body {
	font-family: "Source Code Pro", "sans serif";
	font-weight: normal;
	font-size: 16px;
}

header {
	padding: 1% 0 2% 0.5%;
	background-color: #94BFBF;
	width: 100%;
}

nav {
	color: #354235;
	text-decoration: none;
	font-size: 1.3em;
	text-transform: uppercase;
	display: inline-block;
	float: right;
}

nav a {
	margin-left: 0.2em;
	padding: 0.5em;
	text-decoration: none;
	border: none;
}

nav a:hover {
	background-color:#69A2A2;
	color: #94BFBF;
	transition: background-color ease-in-out 0.5s;
}

h1,h2,h3,h4,h5 {
	font-family: Cabin, "sans serif";
	color: #354235;
	font-weight: bolder;
}

h2, h3, h4, h5 {
	letter-spacing: 0.1em;
}

h1 {
	font-weight: normal;
	font-size: 3em;
	text-transform: uppercase;
	padding: 0.5em;
}

h2 {
	font-size: 1.5em;
	padding: 0 0 0.5em 0.75em;
}

h3 {
	font-size: 2.5em;
	padding: .5em 0 .5em 0;
}

h4 {
	font-size: 1.8em;
	line-height: 2em;
	padding-bottom: 0.2em;
}

h5 {
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0.2em;
}

p {
	line-height: 1.5em;
	margin-bottom: 0.2em;
	font-weight: normal;
	font-size: 1em;
	color: #555354;
	padding-bottom: 0.75em;
}

li {
	list-style: none;
	font-weight: normal;
	line-height: 1.5em;
	color: #555354;
	width: 30em;
	padding-bottom: 1.5em;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #354235;
	color: #354235;
	padding: 1px;
}

a:hover {
	background-color: #94BFBF;
	transition: background-color ease-in-out 0.5s;
}

img {
	padding: 1em;
}

main {
	width: 63%;
	padding: 0.5% 0 0 0.5%;
	float: left;
	margin:0 auto;

}

img {
	width: 100%;
}

article {
	width: 80%;
	display: block;
	padding: 1%;
	float: left;
}

#wrapper {
	width: 90%;
	background-color: 69A2A2;
	margin: 0 auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#header1 {
	float: left;
	width: 40%;
}

#header2 {
	float: right;
	width: 60%;
}

#contact {
	float: right;
	width: 33%;
}

#writing {
	width: 63%;
	display: block;
}

#speaking {
	width: 63%;
	display: block;
}

@media only screen and (max-width: 1060px) {
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.2em;
	}
}
