body {
	font-family: helvetica, sans serif;
	
	background-image: url(https://flic.kr/p/YGDRaJ);
	background-color: #E8EEE8;	
}

h1 {
	font-size: 48px;
	color: #555354;
}

h2 {
	font-size: 40px;
	text-align: center;
	padding: 300px;
	color: #354235;
}

h3 {
	font-size: 30px;
	color: #354235;
}

p {
	font-size: 14px;
	color: #555354;
}